parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - tests/*
        - var/*
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics